nav {
  position: fixed;
  width: 100%;
  background-color: #FFD932;
  padding: 1vw 8vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.logo-img {
  width: 150px; /* reduz o tamanho da imagem */
  height: auto;
}

.navbar-toggler {
  border: none;
}

/* Ajustes adicionais para garantir alinhamento correto */
.container-fluid {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
